body {
    color: #424242;
}

body p {
    font-family: 'Open Sans', ;
    font-weight: 100;
}

h2 {
    font-family: 'Playfair Display';
}

h3 {
    font-family: 'Playfair Display';
}

a {
    color: #424242;
}

a:hover {
    color: #424242;
    text-decoration: underline;
}

#header-logo {
    margin-left: calc(45% - 30px);
}

#m-menu-btn {
    font-size: 1.5em;
}

.content-sep {
    border-top: solid 1px #e6e6e6;
}

@media only screen and (max-width: 767px) {
    .work-desc-lg {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .work-desc-sm {
        display: none;
    }
}